<ion-header>
  <ion-toolbar>
    <ion-title>Native plugins test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row><ion-button (click)="toggleASAM()">Autonomous Single App Mode</ion-button></ion-row>
  <ion-row><ion-button (click)="toggleIsDebug()">Is Debug</ion-button></ion-row>
  <ion-row><ion-button (click)="toggleDeviceAuth()">Device authentication</ion-button></ion-row>
  <ion-row><ion-button (click)="printDeviceInfo()">Device info</ion-button></ion-row>
  <ion-row><ion-button (click)="printNetworkStatus()">Network status</ion-button></ion-row>
  <ion-row><ion-button (click)="toggleInsomnia()">Toggle Insomnia</ion-button></ion-row>
  <ion-row><ion-button (click)="toggleScreenOrientationLock()">Toggle screen orientation lock</ion-button></ion-row>
  <ion-row><ion-button (click)="toggleStatusBar()">Toggle status bar</ion-button></ion-row>
  <ion-row><ion-button (click)="printNetworkStatus()">Network status</ion-button></ion-row>

</ion-content>
