<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="testData$ | async as testData">{{ testData.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Today - Fri 9 Oct</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="testData$ | async as testData" class='slot-container'>
        <div>
          Application Reference <strong>{{ testData.appRef }}</strong>
        </div>
        <div>
          Category <strong>{{ testData.category }}</strong>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
