<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-tabs (activeTabSelected)="activeSearchTabSelected($event)">
    <app-tab [active]="true" title="Candidate details" id="tab-search-candidate-details">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-padding-top">
          <ion-col>
            <label class="component-label">Search by</label>
          </ion-col>
          <ion-col size="5">
            <input 
              id="search-by-app-reference"
              class="gds-radio-button"
              name="searchBy"
              value="appReference"
              type="radio"
              [checked]="searchBy === 'appReference'"
              (change)="onSearchByChange($event.target.value)">
            <label for="search-by-app-reference" class="radio-label">Application reference</label>
          </ion-col>
          <ion-col size="4">
            <input 
              id="search-by-driver-number"
              class="gds-radio-button"
              name="searchBy"
              value="driverNumber"
              type="radio"
              [checked]="searchBy === 'driverNumber'"
              (change)="onSearchByChange($event.target.value)">
            <label for="search-by-driver-number" class="radio-label">Driver number</label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
          <ion-col>
            <ion-input
              [placeholder]="searchBy === 'appReference' ? 'Enter an application reference' : 'Enter a driver number' "
              id="search-input"
              type="text"
              [value]="searchInput"
              (ionChange)="searchInputChanged($event.target.value)"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
          <ion-col>
            <ion-button class="mes-primary-button search-tests" expand="block" (click)="onSearchClick()">
                <span>Search tests</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </app-tab>
  </app-tabs>

  <div *ngIf="isLoading$ | async; else result" class='loading-spinner-container'>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-template #result>
    <div *ngIf="searchResults$ | async as searchResults">
      <div *ngIf="hasSearched && searchResults.length === 0; else data">
        <p class="error-text">
          There were no results found for "<strong>{{searchInputFinal}}</strong>"
        </p>
        <p class="error-text">
          Please check and try again.
        </p>
      </div>
      <ng-template #data>
        <h3 *ngIf="searchResults.length > 0" id="result-number">Displaying {{searchResults.length}} result<span *ngIf="searchResults.length !== 1">s</span> found</h3>
        <app-search-result *ngFor="let searchResult of searchResults" [searchResult]="searchResult"></app-search-result>
      </ng-template>
    </div>
  </ng-template>
</ion-content>
