#search-input {
  margin-top: 26px;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  color: black;
  --padding-start: 10px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.search-tests {
  margin-top: 12px;
  height: 56px;
  width: 100%;
}

#result-number {
  margin-left: 24px;
}

.slot-container {
  display: flex;
  justify-content: space-between;
  margin: 24px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.search-result {
  color: #000;
}
