#search-input {
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  margin: 1rem 0;
}

.slot-container {
  display: flex;
  justify-content: space-between;
  margin: 24px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.card-ios {
  margin: 12px 0 8px;
  width: calc(100% - 2px); // allow room for box shadow on right hand side
  border-left: 8px solid #9b9b9b;
}
.grid {
  padding: 13px 0;
}
.top-row {
  letter-spacing: -0.48px;
}
.bottom-row {
  letter-spacing: -0.48px;
}
.first-col {
  padding-left: 40px;
}