<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="AppConfig">
    <param name="ios-package" value="JETAppConfig"/>
  </feature>

  <feature name="ASAM">
    <param name="ios-package" value="ASAM" onload="true"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="DeviceAuthentication">
    <param name="ios-package" value="DeviceAuthentication"/>
  </feature>

  <feature name="UniversalAnalytics">
    <param name="ios-package" value="UniversalAnalyticsPlugin"/>
  </feature>

  <feature name="Insomnia">
    <param name="ios-package" value="Insomnia"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="CDVOrientation">
    <param name="ios-package" value="CDVOrientation"/>
  </feature>

  <feature name="MobileAccessibility">
    <param name="ios-package" value="CDVMobileAccessibility" onload="true"/>
  </feature>

  
</widget>